<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Alquileres</title>
</head>
<body>

  <h1>Agregar Alquiler</h1>
  <form action="/rents/add" method="post">
    <label for="rentnumber">Número de alquiler:</label>
    <input type="text" id="rentnumber" name="rentnumber" required>
    <br>
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="platenumber">Placa:</label>
    <input type="text" id="platenumber" name="platenumber" required>
    <br>
    <label for="rentdate">Fecha de alquiler:</label>
    <input type="date" id="rentdate" name="rentdate" required>
    <br>
    <button type="submit">Agregar Alquiler</button>
  </form>


  <h1>Lista de Alquileres</h1>
  <table>
    <thead>
      <tr>
        <th>Número de alquiler</th>
        <th>Nombre de usuario</th>
        <th>Placa</th>
        <th>Fecha de alquiler</th>
      </tr>
    </thead>
    <tbody>
      <% rents.forEach(rent => { %>
        <tr>
          <td><%= rent.rentnumber %></td>
          <td><%= rent.username %></td>
          <td><%= rent.platenumber %></td>
          <td><%= rent.rentdate %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
