<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Autos</title>
  <!-- Agregar enlaces a los estilos de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <div class="container">

    <button type="button" class="btn btn-primary mb-3" onclick="window.location.href='/rents/list'">Ver Lista de Alquileres</button>

    <h1>Agregar Auto</h1>
    <form action="/cars/add" method="post">
      <div class="form-group">
        <label for="platenumber">Placa:</label>
        <input type="text" class="form-control" id="platenumber" name="platenumber" required>
      </div>
      <div class="form-group">
        <label for="brand">Marca:</label>
        <input type="text" class="form-control" id="brand" name="brand" required>
      </div>
      <div class="form-group">
        <label for="state">Estado: </label>
        <input type="text" class="form-control" id="state" name="state" required>
        <small class="form-text text-muted">El estado del carro debe ser "disponible" o "alquilado".</small>
      </div>
      
      <button type="submit" class="btn btn-primary">Agregar Auto</button>
    </form>

    <h1>Lista de Autos</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Placa</th>
          <th>Marca</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <% cars.forEach(car => { %>
          <tr>
            <td><%= car.platenumber %></td>
            <td><%= car.brand %></td>
            <td><%= car.state %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <!-- Agregar script para la funcionalidad de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XDp1ElBUkLegwb" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQ
