<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h3 class="card-title">Iniciar sesión</h3>
                    </div>
                    <div class="card-body">
                        <form action="/users/login" method="POST">

                            <span style="color: brown;">
                                <%= errorMessage %>
                            </span>

                            <div class="form-group">
                                <label for="username">Nombre de usuario</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </form>
                        <div class="text-center mt-3">
                            ¿No tienes una cuenta? <a href="/users/register">Regístrate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        const errorMessage = "{{ usuario o contraseña incorrectos }}"; // Obtener el mensaje de error
        
        if (errorMessage) {
          alert(errorMessage);
        }
      </script>
       -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>